@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);

#lista-tooltip,
li {
    margin-bottom: 10px
}

.cabecera,
.hero {
    display: flex;
    overflow: hidden
}

.link,
.logo__name {
    text-decoration: none
}

.button span,
.hero,
.link {
    position: relative
}

.hdn,
.hidden {
    opacity: 0;
    filter: blur(2px)
}

.cabecera,
.card,
.container,
.hero {
    overflow: hidden
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    font-family: Roboto, sans-serif
}

h3 {
    font-size: 32px;
    margin-bottom: 5px
}

ul {
    margin-left: 20px;
    margin-bottom: 40px;
    list-style: inside
}

li {
    font-size: 18px
}

.hero {
    background-image: linear-gradient(180deg, #15172b 0, #0d4146 100%);
    height: 100vh;
    justify-content: center;
    z-index: 2
}

.hero__content {
    width: 100%;
    z-index: 3
}

.cabecera {
    color: #fff;
    justify-content: space-between;
    padding: 30px 10%
}

.logo__name {
    font-size: 24px;
    font-weight: bolder;
    color: #f5f5f5
}

.link {
    display: inline-block;
    padding: 10px 16px;
    color: inherit
}

.link--active {
    color: #90f7aa;
    font-weight: 700
}

.link:hover {
    color: #85b5fd;
    font-weight: 450
}

.link--active:hover {
    font-weight: 700;
    color: #4394e4
}

.link:hover:after {
    width: 100%;
    left: 0
}

.link:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #0ecbb2;
    transition: width .3s, left .3s;
    width: 0
}

.cabecera__textos {
    display: grid;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    justify-items: center
}

#personal_icon {
    height: 30vh;
    width: 30vh;
    margin-bottom: 20px
}

.title {
    font-size: 56px;
    font-weight: 300;
    color: #fff
}

.sub_title {
    font-size: 24px;
    color: #ffffff80;
    text-shadow: 0 8px 8px #00000033;
    margin: 15px 15px 40px
}

.button,
.cta {
    color-scheme: light only;
    text-decoration: none
}

.snow {
    position: absolute;
    right: -100px;
    width: 100%;
    min-width: 1080px
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-650px);
    animation: 22.5s linear infinite fall
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-800px);
    animation: 45s linear infinite fall
}

@keyframes fall {
    100% {
        transform: translateY(0)
    }
}

.button {
    --primary: linear-gradient(180deg, #93f790 0%, #76f4c4 100%);
    --primary-dark: linear-gradient(180deg, #78ca75 0%, #5bbf99 100%);
    --primary-darkest: linear-gradient(180deg, #66ad64 0%, #3f856a 100%);
    --text: #13543b;
    --text-opacity: 1;
    --success: #ebebeb;
    --success-scale: 0.2;
    --success-opacity: 0;
    --border-radius: 7;
    --overflow: hidden;
    --rotate: 0;
    --plane-x: 0;
    --plane-y: 0;
    --plane-opacity: 1;
    --left-wing-background: var(--primary);
    --left-wing-first-x: 0;
    --left-wing-second-x: 50;
    --left-wing-second-y: 0;
    --left-wing-third-x: 0;
    --left-wing-third-y: 100;
    --left-body-background: var(--primary);
    --left-body-first-x: 50;
    --left-body-first-y: 0;
    --left-body-second-x: 50;
    --left-body-second-y: 100;
    --left-body-third-x: 0;
    --left-body-third-y: 100;
    --right-wing-background: var(--primary);
    --right-wing-first-x: 50;
    --right-wing-first-y: 0;
    --right-wing-second-x: 100;
    --right-wing-second-y: 0;
    --right-wing-third-x: 100;
    --right-wing-third-y: 100;
    --right-body-background: var(--primary);
    --right-body-first-x: 50;
    --right-body-first-y: 0;
    --right-body-second-x: 50;
    --right-body-second-y: 100;
    --right-body-third-x: 100;
    --right-body-third-y: 100;
    cursor: pointer;
    border: 0;
    padding: 20px 30px;
    line-height: 24px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    background: 0 0;
    outline: 0;
    color: var(--text);
    transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0)
}

.button:hover {
    --left-wing-background: var(--primary-dark);
    --left-body-background: var(--primary-dark);
    --right-wing-background: var(--primary-dark);
    --right-body-background: var(--primary-dark)
}

.button .left,
.button .right {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: var(--plane-opacity);
    transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px)) translateZ(0)
}

.button .left:after,
.button .left:before,
.button .right:after,
.button .right:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(var(--border-radius) * 1px);
    transform: translate(var(--x, .4%), var(--y, 0)) translateZ(0);
    z-index: var(--z-index, 2);
    background: var(--background, var(--left-wing-background));
    clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%))
}

.button .left:after {
    --x: 0;
    --z-index: 1;
    --background: var(--left-body-background);
    --first-x: var(--left-body-first-x);
    --first-y: var(--left-body-first-y);
    --second-x: var(--left-body-second-x);
    --second-y: var(--left-body-second-y);
    --third-x: var(--left-body-third-x);
    --third-y: var(--left-body-third-y)
}

.button .right:before {
    --x: -0.4%;
    --z-index: 2;
    --background: var(--right-wing-background);
    --first-x: var(--right-wing-first-x);
    --first-y: var(--right-wing-first-y);
    --second-x: var(--right-wing-second-x);
    --second-y: var(--right-wing-second-y);
    --third-x: var(--right-wing-third-x);
    --third-y: var(--right-wing-third-y)
}

.button .right:after {
    --x: 0;
    --z-index: 1;
    --background: var(--right-body-background);
    --first-x: var(--right-body-first-x);
    --first-y: var(--right-body-first-y);
    --second-x: var(--right-body-second-x);
    --second-y: var(--right-body-second-y);
    --third-x: var(--right-body-third-x);
    --third-y: var(--right-body-third-y)
}

.button span {
    display: block;
    z-index: 4;
    opacity: var(--text-opacity)
}

.button span.success {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale)) translateZ(0);
    opacity: var(--success-opacity);
    color: var(--success)
}

.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.card__button,
.card__date,
.card__list,
.copy__active,
.cta {
    font-weight: 700
}

.flecha-arriba {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1
}

.hidden {
    transform: translateX(-50%);
    transition: .5s
}

.hdn {
    transition: .5s 0.1s
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0)
}

.list:nth-child(2) {
    transition-delay: 50ms
}

.list:nth-child(3) {
    transition-delay: 0.1s
}

.list:nth-child(4) {
    transition-delay: 150ms
}

.list:nth-child(5) {
    transition-delay: 0.2s
}

.list:nth-child(6) {
    transition-delay: 250ms
}

.list:nth-child(7) {
    transition-delay: 0.3s
}

.list:nth-child(8) {
    transition-delay: 350ms
}

.list:nth-child(9) {
    transition-delay: 0.4s
}

.list:nth-child(10) {
    transition-delay: 0.5s
}

.list:nth-child(11) {
    transition-delay: 550ms
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 30px
}

.subtitle {
    font-size: 42px;
    text-align: center;
    margin: 20px 10px 10px
}

.copy__section {
    color: #30353b;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px
}

.copy__section--modifier {
    text-align: center;
    margin-bottom: 32px
}

.sm_img {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.cta {
    padding: 20px 30px;
    display: block;
    background: linear-gradient(180deg, #93f790 0, #76f4c4 100%);
    color: #232141;
    border-radius: 7px;
    box-shadow: 0 8px 8px #00000033
}

.logo_esi,
.logo_uclm {
    color-scheme: light only;
    height: 100px
}

.skillcard,
.skills {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.cta:hover {
    background: linear-gradient(180deg, #78ca75 0, #5bbf99 100%)
}

.logo_esi {
    margin: 5px
}

.logo_esi:hover,
.logo_uclm:hover {
    top: -320px;
    left: -75px;
    min-height: 105%
}

.logo_uclm {
    margin: 15px 5px 5px
}

.android,
.cs,
.java,
.web {
    height: 20px
}

.tooltip {
    position: relative;
    align-items: center;
    list-style-type: none
}

.tooltip:after,
.tooltip:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    margin-top: 20px;
    margin-left: 40px
}

.tooltip:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid #363636;
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    top: 20px;
    left: 20px;
    width: 0
}

.tooltip:before {
    background: #353535;
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 26px;
    white-space: nowrap;
    z-index: 2
}

.tooltip.expand:before {
    transform: scale3d(.2, .2, 1);
    transition: .2s ease-in-out
}

.tooltip.expand:after {
    transform: translate3d(0, 6px, 0);
    transition: .1s ease-in-out
}

.tooltip.expand:hover:after,
.tooltip.expand:hover:before {
    opacity: 1;
    transform: scale3d(1, 1, 1)
}

.tooltip.expand:hover:after {
    transition: .2s ease-in-out .1s
}

.tooltip.expand::marker {
    visibility: hidden
}

.skillcard {
    width: 90%;
    margin: 20px auto 40px;
    background-color: #232141;
    padding: 20px 0;
    border-radius: 15px
}

.skillcard>p {
    margin: auto;
    color: #eef5f2;
    font-weight: 900;
    font-size: 20px;
    width: 92%;
    padding: 5px 5px 0
}

.skill_container {
    margin: auto;
    width: 92%;
    background-color: #dfdfdf;
    border-radius: 30px
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    margin: 10px 0 20px;
    border-radius: 30px
}

.android {
    width: 60%;
    background: linear-gradient(180deg, #7feb65 0, #61cfcf 100%)
}

.java {
    width: 70%;
    background: linear-gradient(180deg, #fab636 0, #f44336 100%)
}

.web {
    width: 90%;
    background: linear-gradient(180deg, #d824c9 0, #8831eb 100%)
}

.cs {
    width: 80%;
    background: linear-gradient(180deg, #9092f7 0, #2196f3 100%)
}

.h_notec {
    margin-top: 30px
}

#contacto,
#habilidades {
    background: #f0f0f0
}

.container-cards {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap
}

.slide,
.slide2,
.slide3 {
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .64);
    margin-top: 5px
}

.slide-inner,
.slide-inner2,
.slide-inner3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px
}

.slide-open2:checked+.slide-item2,
.slide-open3:checked+.slide-item3,
.slide-open:checked+.slide-item {
    position: static;
    opacity: 100
}

.slide-item,
.slide-item2,
.slide-item3 {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .6s ease-out;
    transition: opacity .6s ease-out
}

.slide-item img,
.slide-item2 img,
.slide-item3 img {
    display: block;
    min-height: 205px;
    height: auto;
    max-width: 100%
}

.slide-control,
.slide-control2,
.slide-control3 {
    background: rgba(0, 0, 0, .28);
    border-radius: 50%;
    color: #fff;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10
}

#slide-12:checked~.control-12,
#slide-13:checked~.control-13,
#slide-1:checked~.control-1,
#slide-22:checked~.control-22,
#slide-23:checked~.control-23,
#slide-2:checked~.control-2,
#slide-32:checked~.control-32,
#slide-33:checked~.control-33,
#slide-3:checked~.control-3,
.card__button {
    display: block
}

.slide-control.prev,
.slide-control2.prev,
.slide-control3.prev {
    left: 2%
}

.slide-control.next,
.slide-control2.next,
.slide-control3.next {
    right: 2%
}

.slide-control2:hover,
.slide-control3:hover,
.slide-control:hover {
    background: rgba(0, 0, 0, .8);
    color: #aaa
}

.slide-indicador,
.slide-indicador2,
.slide-indicador3 {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10
}

.background,
.card {
    position: relative
}

.slide-indicador li,
.slide-indicador2 li,
.slide-indicador3 li {
    display: inline-block;
    margin: 0 5px
}

.slide-circulo,
.slide-circulo2,
.slide-circulo3 {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px
}

.slide-circulo2:hover,
.slide-circulo3:hover,
.slide-circulo:hover {
    color: #aaa
}

#slide-12:checked~.control-12~.slide-indicador2 li:first-child .slide-circulo2,
#slide-13:checked~.control-13~.slide-indicador3 li:first-child .slide-circulo3,
#slide-1:checked~.control-1~.slide-indicador li:first-child .slide-circulo,
#slide-22:checked~.control-22~.slide-indicador2 li:nth-child(2) .slide-circulo2,
#slide-23:checked~.control-23~.slide-indicador3 li:nth-child(2) .slide-circulo3,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-32:checked~.control-32~.slide-indicador2 li:nth-child(3) .slide-circulo2,
#slide-33:checked~.control-33~.slide-indicador3 li:nth-child(3) .slide-circulo3,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 27px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .33), -1px 0 2px rgba(255, 255, 255, 0)
}

.card {
    width: 30%;
    max-width: 320px;
    height: 460px;
    padding: 30px 0;
    background-color: #232141;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 30px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0 0 6px #00000033
}

.card__img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px
}

.cards__text {
    text-align: justify;
    width: 90%;
    margin: 0 auto
}

.card__list {
    color: #76f4c4;
    margin: 20px 0 10px;
    font-size: 18px
}

.card__title {
    font-size: 36px;
    color: #fff;
    margin-bottom: 8px
}

.card__copy {
    color: #f7d9d990;
    margin-bottom: 16px
}

.card__button {
    color-scheme: light only;
    background: linear-gradient(180deg, #93f790 0, #76f4c4 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: #232141;
    text-align: center;
    padding: 12px 0
}

.contact,
.item__contact {
    padding: 30px 0;
    text-align: center;
    background-color: #232141
}

.card__button:hover {
    background: linear-gradient(180deg, #78ca75 0, #5bbf99 100%)
}

.card__date {
    color: var(--gold2);
    font-size: 18px;
    margin-bottom: 16px
}

.contact__links {
    margin: 10px;
    display: flex;
    justify-content: space-evenly
}

.container-bg {
    display: flex;
    justify-content: space-between;
    align-items: justify;
    flex-wrap: wrap
}

.background {
    width: 68%;
    height: 290px;
    border-radius: 10px;
    margin-bottom: 60px
}

.background__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit
}

.background__text {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff
}

.background__title {
    font-size: 24px;
    margin-bottom: 4px
}

.contact {
    width: 100%;
    color: #fff
}

.item__contact {
    width: 66.67%
}

.item__contact--gold {
    width: 33.33%;
    background: linear-gradient(180deg, #93f790 0, #76f4c4 100%);
    color: #1a1b1f
}

.contact__title {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none
}

.social-link--linkedin {
    color: #2d76b0
}

.social-link--github {
    color: #495599
}

.social-link--email {
    color: #636363
}

.social-link .social-svg {
    width: 8.5rem;
    height: 8.5rem
}

.social-link .social-svg .social-group__icon {
    fill: #191308;
    transition: .2s;
    max-height: 50px;
    max-width: 50px
}

.social-link .social-svg .social-group__inner-circle {
    fill: transparent;
    transition: .2s
}

.social-link .social-svg .social-group__outline {
    stroke: #191308;
    transform-origin: 50% 50%;
    transition: .2s
}

.social-link .social-svg:active .social-group__icon,
.social-link .social-svg:focus .social-group__icon,
.social-link .social-svg:hover .social-group__icon {
    fill: #fffbfa;
    transition: .45s
}

.social-link .social-svg:active .social-group__inner-circle,
.social-link .social-svg:focus .social-group__inner-circle,
.social-link .social-svg:hover .social-group__inner-circle {
    fill: currentColor;
    transition: .45s
}

.social-link .social-svg:active .social-group__outline,
.social-link .social-svg:focus .social-group__outline,
.social-link .social-svg:hover .social-group__outline {
    stroke: currentColor;
    transform: scale(1.1);
    transition: .45s
}

#email-icon {
    transform: scale(.65) translate(210px, 210px)
}

#card-cta {
    background: 0 0;
    display: flex;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    padding: 0;
    margin-bottom: 0
}

@media only screen and (max-width:900px) {
    .container-cards {
        justify-content: space-around
    }

    .card {
        width: 42%
    }

    #card-cta {
        background: 0 0;
        display: flex;
        box-shadow: none;
        align-items: center;
        justify-content: center
    }
}

@media only screen and (max-width:774px) {

    .tt:after,
    .tt:before,
    .ttm:after,
    .ttm:before {
        z-index: 1;
        display: block
    }

    .cabecera__textos,
    .links,
    .logo,
    .sub_title,
    .title {
        text-align: center
    }

    .background,
    .card {
        margin-bottom: 40px
    }

    #card-cta {
        max-height: 100px;
        padding: 0;
        margin-bottom: 0
    }

    .tt:after,
    .tt:before {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        margin-left: 135px;
        margin-top: 20px
    }

    .logo_uclm:hover {
        max-width: 455px
    }

    .cabecera {
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px
    }

    .logo {
        padding-bottom: 15px
    }

    .links {
        padding-bottom: 10px
    }

    .link {
        padding: 7px 10px
    }

    .cabecera__main {
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0
    }

    .cabecera__textos {
        margin-top: 20px;
        width: 100%
    }

    .title {
        font-size: 35px
    }

    .sub_title {
        font-size: 20px
    }

    .copy__section {
        font-size: 20px;
        text-align: justify
    }

    .container-bg {
        justify-content: space-evenly
    }

    .card {
        width: 85%;
    }

    .card__title {
        font-size: 35px
    }

    .card__button {
        width: 100%
    }

    .background {
        width: 65%
    }

    .background__copy {
        display: none
    }

    .testimony__card {
        width: 65%
    }

    .testimony__name {
        font-size: 20px
    }

    .social-link .social-svg {
        width: 7rem;
        height: 7rem
    }

    .container--modifier {
        width: 80%
    }

    .item__contact {
        width: 100%;
        padding: 30px 0
    }
}

@media screen and (max-height:600px) {
    #personal_icon {
        visibility: hidden
    }
}

@media screen and (max-width:600px) {
    .skillcard {
        width: 100%;
        margin: 20px 0 30px 0;
        box-shadow: none;
    }

    .sm_img {
        flex-direction: column !important;
    }

    #lista-tooltip {
        margin-left: 0 !important;
    }
}
